body {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
    color: #FFFFFF;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: top center;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.title {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
}

/* HEADER */

.header {
    margin-top: 90px;
    margin-bottom: 190px;
}

.header__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-list {
    display: flex;
    gap: 60px;
}

.header__menu-link,
.header__menu-phone {
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

}

/* PROMO */